

@font-face {
  font-family: 'Rage';
  src: url('/assets/Fonts/RAGE_1.TTF') format('trueType');
}

.font-rage {
  font-family: 'Rage';
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('/assets/Fonts/CinzelDecorative-Regular.otf') format('opentype');
}

.font-cinzel {
  font-family: 'Cinzel Decorative';
}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/Fonts/Cinzel-Regular.otf') format('opentype');
}

.font-cinzel {
  font-family: 'Cinzel';
}